.DS_Store
ring_camera/ring_data/*
ring_camera/ring_api.ini
ring_camera/test_token.cache
ring_camera/ring_convnet_model/*
ring_camera/tensorboard_logs/*
.vscode
*.gif
*.png
*.jpg
*.npy
*.zip
*.gz
*.hdf5
*workspace
*.csv
*.bak
__pycache__
**/*tensorboard_logs/*
examples/aclImdb

data_type_experiments.py
pyplot_animation.py
renamer.py
matrix_mul.py