.DS_Store
ring_downloader/ring_data/*
ring_downloader/ring_api.ini
ring_downloader/test_token.cache
ring_convnet_weights/*
tensorboard_logs/*
.vscode
*.gif
*.npy
*workspace
*.csv
*.bak

data_type_experiments.py
pyplot_animation.py
renamer.py
matrix_mul.py