.DS_Store
ring_camera/ring_data/*
ring_camera/ring_api.ini
ring_camera/test_token.cache
ring_convnet_model/*
tensorboard_logs/*
.vscode
*.gif
*.png
*.jpg
*.npy
*.zip
*workspace
*.csv
*.bak

data_type_experiments.py
pyplot_animation.py
renamer.py
matrix_mul.py